@charset "UTF-8";
#globale-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
}
.flex-menu li #logo-meny {
  text-decoration: none;
  color: black;
}
.flex-menu li .meny {
  text-decoration: none;
  color: black;
}
.flex-menu li .meny:hover {
  text-decoration: underline;
}

.flex-menu-2 {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
}
.flex-menu-2 li a {
  text-decoration: none;
  color: black;
}
.flex-menu-2 li a:hover {
  font-size: x-large;
}

.flex-search {
  display: flex;
  flex-wrap: wrap;
}
.flex-search label {
  display: flex;
  border: 1px solid rgb(50, 50, 50);
  padding: 3px;
  border-radius: 15px;
  align-items: center;
}
.flex-search label input {
  border: none;
}

.fa-solid.fa-magnifying-glass {
  font-size: medium;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-nav li span {
  font-size: xx-large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align: start;
  margin: 30px 0 0 0;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}
ul.breadcrumb li a:hover {
  color: rgb(0, 119, 255);
  text-decoration: underline;
}

#panel {
  height: 0;
  overflow: hidden;
}

.btn-group button {
  border-radius: 1rem;
  padding: 1em;
  background-color: white;
  color: black;
  border: 1px solid gray;
}

.btn-group button:hover {
  background-color: black;
  color: white;
}

.btn-group .btn-p:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}

.accordion__input:checked ~ .accordion-content {
  display: block;
}

.accordion-content {
  display: none;
}

.accordion__input {
  display: none;
}

* {
  box-sizing: border-box;
  max-width: 1200px;
}

#container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  max-height: 1060px;
  height: 1060px;
  gap: 1rem;
  grid-template-areas: "item1 item2 item3" "item4 item4 item3" "item4 item4 item5";
}
#container img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  filter: blur(1%);
  -o-object-fit: cover;
     object-fit: cover;
}

#item-1 {
  position: relative;
  grid-area: item1;
  margin: 0;
  padding: 0;
  height: 350px;
  max-height: 350px;
  width: 379px;
  max-width: 379px;
}
#item-1 h3 {
  margin: 0;
  padding: 0;
}

#item-2 {
  position: relative;
  grid-area: item2;
  margin: 0;
  padding: 0;
  height: 350px;
  max-height: 350px;
  width: 379px;
  max-width: 379px;
}
#item-2 h3 {
  margin: 0;
  padding: 0;
}

#item-3 {
  position: relative;
  grid-area: item3;
  margin: 0;
  padding: 0;
  height: 700px;
  max-height: 700px;
  width: 379px;
}
#item-3 h3 {
  margin: 0;
  padding: 0;
}

#item-4 {
  position: relative;
  grid-area: item4;
  margin: 0;
  padding: 0;
  height: 700px;
  max-height: 700px;
  width: 788px;
  max-width: 788px;
}
#item-4 h3 {
  margin: 0;
  padding: 0;
}

#item-5 {
  position: relative;
  grid-area: item5;
  margin: 0;
  padding: 0;
  width: 379px;
  height: 350px;
  max-height: 350px;
}
#item-5 h3 {
  margin: 0;
  padding: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

#Kategorier h2 {
  display: grid;
  justify-content: center;
}
#Kategorier p {
  display: flex;
  justify-content: center;
}

/*hovedområde på produkt.html side*/
#main-produkt {
  position: relative;
  display: grid;
  text-align: start;
  gap: 10px;
  grid-template-areas: "small1 big big produkt-info produkt-info" "small2 big big panel panel" "small3 big big panel panel";
}

#small-1 {
  grid-area: small1;
  width: 280px;
  height: 280px;
}

#small-2 {
  grid-area: small2;
  width: 280px;
  height: 280px;
}

#small-3 {
  grid-area: small3;
  width: 280px;
  height: 280px;
}

#big {
  grid-area: big;
  width: 580px;
  height: 800px;
}

#produkt-info {
  text-align: start;
  grid-area: produkt-info;
}
#produkt-info .fa-heart {
  position: absolute;
  padding: 14px;
  border: 1px solid black;
  right: 6px;
  top: 25.9%;
}
#produkt-info .fa-heart:hover {
  color: rgba(251, 56, 56, 0.5);
}
#produkt-info h3 {
  margin: 0;
}
#produkt-info label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
#produkt-info label #størrelse {
  padding: 10px;
  width: 340px;
}
#produkt-info label #størrelse:hover {
  border: 2px solid black;
}

#legg-i input {
  background-color: black;
  color: white;
  padding: 15px;
  width: 290px;
}
#legg-i input:hover {
  background-color: rgb(75, 75, 75);
}

#panele {
  grid-area: panel;
  font-size: medium;
}
#panele .ad-label {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  cursor: pointer;
  position: relative;
}
#panele .ad-label #rate {
  position: absolute;
  right: 20px;
  margin: 0;
}
#panele .ad-label #rate i {
  font-size: small;
}
#panele .tre {
  border-bottom: 1px solid rgb(75, 75, 75);
}
#panele .accordion_label {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border-top: 1px solid rgb(75, 75, 75);
  cursor: pointer;
  position: relative;
}
#panele .accordion_label i {
  font-size: medium;
  position: absolute;
  right: 20px;
}

footer {
  text-align: start;
  margin: 0 auto;
  width: 1190px;
  height: 400px;
}

#footer-container {
  display: flex;
  justify-content: space-between;
}

#kontakt i {
  margin-right: 10px;
}

#snarveier ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#snarveier ul a {
  text-decoration: none;
  color: black;
}
#snarveier ul a:hover {
  text-decoration: underline;
}

#sosiale-medier a {
  display: inline;
  text-decoration: none;
  color: black;
  font-size: large;
  margin: 0.4rem;
}
#sosiale-medier a:hover {
  font-size: x-large;
}

#flex-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#flex-container h2 {
  text-align: center;
}
#flex-container #best {
  text-align: center;
}
#flex-container .btn-group {
  text-align: center;
  gap: 1em;
  margin: 15px;
}

.flex-article {
  position: relative;
}
.flex-article .produkt-pris {
  position: absolute;
  right: 10px;
  bottom: 8.5%;
}
.flex-article .fa-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  background-color: rgba(206, 205, 205, 0.5);
  border-radius: 100%;
  color: white;
}
.flex-article .fa-heart:hover {
  background-color: rgba(251, 56, 56, 0.5);
}

#product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;
  max-width: 1200px;
}
#product-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 373px;
  max-height: 350px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
#product-card a {
  text-decoration: none;
  color: black;
}
#product-card a h4 {
  text-align: start;
  margin: 0;
  padding: 0;
}
#product-card p {
  text-align: start;
}

#Anmeldelser {
  padding: 20px 0 45px 0;
  border-bottom: 1px solid rgb(164, 164, 164);
  text-align: start;
  max-height: 700px;
  overflow-y: auto;
  max-width: 1195px;
  margin: 0 auto;
}
#Anmeldelser img {
  border-radius: 100%;
  height: 90px;
  width: 90px;
}

#anmeldelser-content {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}
#anmeldelser-content article {
  display: inline-block;
  min-width: 320px;
  min-height: 450px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid rgb(148, 148, 148);
}
#anmeldelser-content article h3 {
  margin: 0;
  padding: 0;
}

/*Lignende produkter område*/
#lingnende-produkter {
  text-align: start;
}
#lingnende-produkter h3 {
  display: inline-block;
}
#lingnende-produkter #sflp {
  display: inline-block;
  text-decoration: none;
  padding-left: 450px;
}

#flex-container2 {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}
#flex-container2 img {
  width: 373px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#flex-container2 a {
  text-decoration: none;
  color: black;
}
#flex-container2 h3 {
  text-align: start;
  margin: 0;
  padding: 0;
}

.flex-article2 {
  position: relative;
}
.flex-article2 .produkt-pris {
  position: absolute;
  right: 10px;
  bottom: 10%;
}
.flex-article2 .fa-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  background-color: rgba(206, 205, 205, 0.5);
  border-radius: 100%;
  color: white;
}
.flex-article2 .fa-heart:hover {
  background-color: rgba(251, 56, 56, 0.5);
}

#banner {
  display: flex;
  position: relative;
  height: 500px;
  width: 1195px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 50px auto;
  gap: 1rem;
}
#banner img {
  width: 100%;
  height: 100%;
  height: 500px;
  min-width: 1000px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
}
#banner #first-img {
  position: absolute;
}
#banner #arrows {
  position: sticky;
  left: 10px;
  white-space: nowrap;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 50%;
}
#banner #arrows i {
  background-color: rgba(206, 205, 205, 0.6);
  padding: 15px;
  font-size: large;
  border-radius: 100%;
  margin-right: 1030px;
  margin-left: 15px;
}

#head-banner {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 100px;
  padding: 0;
  text-align: right;
  left: 550px;
  z-index: 70;
}

#ingress-banner {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 220px;
  left: 550px;
  z-index: 70;
}

#tagg {
  position: absolute;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  top: 300px;
  left: 1060px;
  z-index: 70;
}

#head-banner-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: start;
  color: white;
  left: 1270px;
  top: 100px;
}

#ingress-banner-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: start;
  color: white;
  top: 220px;
  left: 1270px;
}

#tagg-2 {
  position: absolute;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  left: 1270px;
  top: 300px;
  width: 8%;
}

#head-banner-3 {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: start;
  color: white;
  top: 100px;
  left: 2300px;
}

#ingress-banner-3 {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: start;
  color: white;
  top: 220px;
  left: 2300px;
}

#tagg-3 {
  position: absolute;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  left: 2300px;
  top: 300px;
  width: 8%;
}

* {
  box-sizing: border-box;
  max-width: 1200px;
}

html {
  font-size: calc(1em + 1vw);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.7rem;
}

p, a {
  font-size: 0.5rem;
}

i {
  font-size: 0.6rem;
}/*# sourceMappingURL=main.css.map */