@use 'colors.scss' as *;
ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    text-align: start;
    margin: 30px 0 0 0;
    li{
        display: inline;
        a{
            text-decoration: none;
            color: $grey;
            &:hover{
                color: $hover;
                text-decoration: underline;
            }
        }
    }
}

