@use 'colors.scss' as *;
ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    li{
        display: inline;
        a{
            text-decoration: none;
            color: $grey;
            &:hover{
                color: $hover;
                text-decoration: underline;
            }
        }
    }
}
ul.breadcrumb li+li{
    &::before {
        padding: 1em;
        content: ">";
        color: black;
    }

}
