@use 'colors.scss' as *;
.btn-group button{
    border-radius: 1rem;
    padding: 1em;
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.btn-group button:hover{
    background-color: black;
    color: white;
}
.btn-group .btn-p:hover{
    background-color: $grey;
    color: white;
}