@use 'colors.scss' as *;
footer{
    text-align: start;
}
#footer-container{
    display: flex;
    justify-content: space-between;
}
#kontakt{
    i{
        margin-right: 10px;
    }
}
#snarveier{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    a{
        text-decoration: none;
        color: black;
    }
  }
}
#sosiale-medier{
    a{
        display: inline;
        text-decoration: none;
        color: black;
        font-size: large;
        margin: 0.4rem;
    }
}
