@use 'colors.scss' as *;
footer{
    text-align: start;
}
#footer-container{
    display: flex;
    justify-content: space-between;
}
#kontakt{
    #Adresse{
        display: inline-block;
    }
    #Telefon{
        display: inline-block;
    }
}
#snarveier{
    ul{
        list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
  }
}
#sosiale-medier{
    a{
        text-decoration: none;
        color: black;
    }
    i{
        font-size: medium;
    }
}
