@use 'colors.scss' as *;
#globale-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    li{
        #logo-meny{
            text-decoration: none;
            color: black;
            }
        .meny{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.flex-menu-2{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin: 0;
    li{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                font-size: x-large;
            }
        }
    }
}
.flex-search{
    display: flex;
    flex-wrap: wrap;
    label{
        display: flex;
        border: 1px solid rgb(50, 50, 50);
        padding: 3px;
        border-radius: 15px;
        align-items: center;
        input{
            border: none;
        }
    }
}
.fa-solid.fa-magnifying-glass{
    font-size: medium;
}
.header-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
        span{
            font-size: xx-large;
        }
    }
}
