*{
    box-sizing: border-box;
    max-width: 1200px;
}
#container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-width: 1200px;
    gap: 1rem;
    grid-template-areas: "item3 item2 item1"
                          "item5 item4 item4";
}
#item-1{
    position: relative;
    grid-area: item1;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        max-width: 386px;
        width: 357;
        max-height: 400px;
        width: 350px;
    }
}
#item-2{
    position: relative;
    grid-area: item2;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        width: 357px;
        height: 400px;
    }
}
#item-3{
    position: relative;
    grid-area: item3;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        height: 400px;
        width: 357px;
    }
}
#item-4{
    position: relative;
    grid-area: item4;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        max-width: 850px;
        width: 850px;
        max-height: 400px;
        height: 400px;
    }
}
#item-5{
    position: relative;
    grid-area: item5;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        height: 400px;
        width: 357px;
    }
}
.overlay{
    position: absolute;
    display: grid;
}
#container img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
main h2{
    display: flex;
    justify-content: center;
}