*{
    box-sizing: border-box;
}
#grid-container2{
    display: grid;
    justify-content: start;
    grid-template-areas: "item1 item2 item3"
                          "item4 item4 item3"
                          "item4 item4 item5";
}
#item-1{
    position: relative;
    grid-area: item1;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        max-width: 386px;
    }
}
#item-2{
    position: relative;
    grid-area: item2;
    margin: 0;
    padding: 0;
    img{
        display: grid;
        max-width: 386px;
    }
}
#item-3{
    position: relative;
    grid-area: item3;
    margin: 0;
    padding: 0;
    img{
        display: grid;
    }
}
#item-4{
    position: relative;
    grid-area: item4;
    margin: 0;
    padding: 0;
    img{
        display: grid;
    }
}
.overlay{
    position: absolute;
}