@use 'colors.scss' as *;
#grid-container-2{
    width: 60%;
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-areas: "kategori1 kategori2 kategori3"
                         "kategori4 kategori4 kategori3"
                         "kategori4 kategori4 kategori5";
}
#kategori-1{
    grid-area: kategori1;
}
#kategori-2{
    grid-area: kategori2;
}
#kategori-3{
    grid-area: kategori3;
}
#kategori-4{
    grid-area: kategori4;
}
#kategori-5{
    grid-area: kategori5;
}
.banner-read{
    padding: 1rem;
    background-color: $button;
    text-decoration: none;
    color: white;
}