@use 'colors.scss' as *;
*{
    box-sizing: border-box;
    max-width: 1200px;
}
@media only screen and (min-width:1050px){
#container{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 1060px;
    height: 1060px;
    gap: 1rem;
    margin: 20px auto;
    grid-template-areas: "item1 item2 item3"
                          "item4 item4 item3"
                          "item4 item4 item5";
     img{
     border-radius: 10px;
     width: 100%;
     height: 100%;
     filter: blur(1%);
     object-fit: cover;
    }
}
#item-1{
    position: relative;
    grid-area: item1;
    margin: 0;
    padding: 0;
    height: 350px;
    max-height: 350px;
    width: 379px;
    max-width: 379px;
    h3{
        margin: 0;
        padding: 0;
    }
}
#item-2{
    position: relative;
    grid-area: item2;
    margin: 0;
    padding: 0;
    height: 350px;
    max-height: 350px;
    width: 379px;
    max-width: 379px;
    h3{
        margin: 0;
        padding: 0;
    }
}
#item-3{
    position: relative;
    grid-area: item3;
    margin: 0;
    padding: 0;
    height: 700px;
    max-height: 700px;
    width: 379px;
    h3{
        margin: 0;
        padding: 0;
    }
}
#item-4{
    position: relative;
    grid-area: item4;
    margin: 0;
    padding: 0;
    height: 700px;
    max-height: 700px;
    width: 788px;
    max-width: 788px;
    h3{
        margin: 0;
        padding: 0;
    }
}
#item-5{
    position: relative;
    grid-area: item5;
    margin: 0;
    padding: 0;
    width: 379px;
    height: 350px;
    max-height: 350px;
    h3{
        margin: 0;
        padding: 0;
    }
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}
#Kategorier{
    h2{
        display: grid;
        justify-content: center;
    }
    p{
        display: flex;
        justify-content: center;
    }
}
}
@media only screen and (max-width: 800px){
    #container{
        margin: 20px auto;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 300px;
        gap: 1rem;
        min-height: 1400px;
        grid-template-areas:  "item1"
                              "item2"
                              "item3"
                              "item3"
                              "item4"
                              "item5";
         img{
         border-radius: 10px;
         width: 100%;
         height: 100%;
         object-fit: cover;
        }
    }
    #item-1{
        position: relative;
        grid-area: item1;
        margin: 0;
        padding: 0;
        height: 200px;
        width: 400px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-2{
        position: relative;
        grid-area: item2;
        margin: 0;
        padding: 0;
        height: 200px;
        width: 400px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-3{
        position: relative;
        grid-area: item3;
        margin: 0;
        padding: 0;
        width: 400px;
        height: 400px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-4{
        position: relative;
        grid-area: item4;
        margin: 0;
        padding: 0;
        width: 400px;
        height: 200px;
        max-height: 200px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-5{
        position: relative;
        grid-area: item5;
        margin: 0;
        padding: 0;
        width: 400px;
        height: 200px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 0;
        padding: 0;
    }
    #Kategorier{
        h2{
            display: grid;
            justify-content: center;
        }
        p{
            display: flex;
            justify-content: center;
        }
    }
}
@media only screen and (min-width: 800px) and (max-width: 1050px){
    #container{
        margin: 20px 0;
        display: grid;
        justify-content: center;
        gap: 1rem;
        height: 800px;
        grid-template-areas:  "item1 item2"
                              "item3 item4"
                              "item3 item5";
         img{
         border-radius: 10px;
         width: 100%;
         height: 100%;
         object-fit: cover;
        }
    }
    #item-1{
        position: relative;
        grid-area: item1;
        margin: 0;
        padding: 0;
        height: 230px;
        min-width: 350px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-2{
        position: relative;
        grid-area: item2;
        margin: 0;
        padding: 0;
        height: 230px;
        min-width: 350px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-3{
        position: relative;
        grid-area: item3;
        margin: 0;
        padding: 0;
        width: 350px;
        height: 520px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-4{
        position: relative;
        grid-area: item4;
        margin: 0;
        padding: 0;
        width: 350px;
        height: 230px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    #item-5{
        position: relative;
        grid-area: item5;
        margin: 0;
        padding: 0;
        width: 350px;
        height: 250px;
        h3{
            margin: 0;
            padding: 0;
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 0;
        padding: 0;
    }
    #Kategorier{
        h2{
            display: grid;
            justify-content: center;
        }
        p{
            display: flex;
            justify-content: center;
        }
    }
}
/*hovedområde på produkt.html side*/
@media only screen and (min-width: 800px){
    #main-produkt{
        position: relative;
        display: grid;
        gap: 10px;
        max-width: 1195px;
        max-height: 800px;
        overflow: scroll;
        grid-template-areas: "small1 big big produkt-info produkt-info"
                             "small2 big big produkt-info produkt-info"
                             "small3 big big produkt-info produkt-info"
                             ". . . produkt-info produkt-info" ;
    }
    #legg-i{
        input{
            background-color: black;
            color: white;
            padding: 15px;
            width: 350px;
            margin: 10px 0 40px 0;
            &:hover{
                background-color: $grey;
            }
        }
    }
    #small-1{
        grid-area: small1;
        width: 250px;
        height: 250px;
    }
    #small-2{
        grid-area: small2;
        width: 250px;
        height: 250px;
    }
    #small-3{
        grid-area: small3;
        width: 250px;
        height: 250px;
    }
    #big{
        grid-area: big;
        width: 500px;
        min-height: 770px;
    }
    #produkt-info{
        text-align: start;
        grid-area: produkt-info;
        font-size: medium;
        .ad-label{
            display: flex;
            flex-direction: column;
            padding: 40px 0;
            cursor: pointer;
            position: relative;
            border-top: 1px solid $grey;
            .fa-star{
                display: inline;
                font-size: medium;
            }
            #rate{
                position: absolute;
                left: 288px;
                margin: 0;
            }
            #rate2{
                position: absolute;
                left: 305px;
                margin: 0;
            }
            #rate3{
                position: absolute;
                left: 323px;
                margin: 0;
            }
            #rate4{
                position: absolute;
                left: 340px;
                margin: 0;
            }
            #rate5{
                position: absolute;
                right: 37px;
                margin: 0;
            }
        }
        h3{
            margin: 20px 0 10px 0;
        }
        .accordion_label{
            display: flex;
            flex-direction: column;
            padding: 40px 0 ;
            border-top: 1px solid $grey;
            cursor: pointer;
            position: relative;
            i{
                font-size: small;
                position: absolute;
                right: 20px;
            }
        }
        .fa-heart{
            position: absolute;
            padding: 14px;
            border: 1px solid black;
            right: 3px;
            top: 270px;
            &:hover{
                color: $heart;
            }
        }
        label{
            display: flex;
            flex-direction: column;
            #størrelse{
                margin: 20px 0 0 0;
                padding: 10px;
                width: 410px;
                &:hover{
                    border: 2px solid black;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px){
    #main-produkt{
        position: relative;
        display: grid;
        gap: 10px;
        max-width: 410px;
        height: 1100px;
        overflow-y: auto;
        margin: 0 auto;
        grid-template-areas: "small1 big big"
                             "small2 big big"
                             "small3 big big"
                             "produkt-info produkt-info produkt-info"
                             "produkt-info produkt-info produkt-info" 
                             "produkt-info produkt-info produkt-info";
    }
    #legg-i{
        input{
            background-color: black;
            color: white;
            padding: 15px;
            width: 350px;
            margin: 10px 0 40px 0;
            &:hover{
                background-color: $grey;
            }
        }
    }
    #rate{
        position: absolute;
        left: 280px;
        margin: 0;
        i{
            font-size: small;
        }
    }
    #rate2{
        position: absolute;
        left: 300px;
        margin: 0;
        i{
            font-size: small;
        }
    }
    #rate3{
        position: absolute;
        left: 320px;
        margin: 0;
        i{
            font-size: small;
        }
    }
    #rate4{
        position: absolute;
        left: 340px;
        margin: 0;
        i{
            font-size: small;
        }
    }
    #rate5{
        position: absolute;
        right: 35px;
        margin: 0;
        i{
            font-size: small;
        }
    }
    #small-1{
        grid-area: small1;
        width: 100px;
        height: 100px;
    }
    #small-2{
        grid-area: small2;
        width: 100px;
        height: 100px;
    }
    #small-3{
        grid-area: small3;
        width: 100px;
        height: 100px;
    }
    #big{
        grid-area: big;
        width: 300px;
        height: 358px;
    }
    #produkt-info{
        text-align: start;
        grid-area: produkt-info;
        font-size: medium;
        .ad-label{
            display: flex;
            flex-direction: column;
            padding: 40px 0 ;
            cursor: pointer;
            position: relative;
        }
        h3{
            margin: 20px 0 10px 0;
        }
        .tre{
            border-bottom: 1px solid $grey;
        }
        .accordion_label{
            display: flex;
            flex-direction: column;
            padding: 40px 0 ;
            border-top: 1px solid $grey;
            cursor: pointer;
            position: relative;
            i{
                font-size: small;
                position: absolute;
                right: 20px;
            }
        }
        .fa-heart{
            position: absolute;
            padding: 15px;
            border: 1px solid black;
            right: 3px;
            top: 605px;
            &:hover{
                color: $heart;
            }
        }
        label{
            display: flex;
            flex-direction: column;
            #størrelse{
                margin: 20px 0 0 0;
                padding: 10px;
                width: 410px;
                &:hover{
                    border: 2px solid black;
                }
            }
        }
    }
}