@use 'colors.scss' as *;
#flex-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    h2{
        text-align: center;
    }
    #best{
        text-align: center;
    }
    .btn-group{
        text-align: center;
        gap: 1em;
        margin: 15px;
    }
}
.flex-article{
    position: relative;
    .produkt-pris{
        position: absolute;
        right: 10px;
        bottom: 8.5%;
    }
    .fa-heart{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        background-color: rgba(206, 205, 205, 0.5);
        border-radius: 100%;
        color: white;
        &:hover{
            background-color: rgba(251, 56, 56, 0.5);
        }
    }
}
#product-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: relative;
    max-width: 1200px;
    img{
        object-fit: cover;
        width: 373px;
        max-height: 350px;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: black;
        h4{
            text-align: start;
            margin: 0;
            padding: 0;
        }
    }
    p{
        text-align: start;
    }

}
#Anmeldelser{
    padding: 20px 0 45px 0;
    border-bottom: 1px solid rgb(164, 164, 164);
    text-align: start;
    max-height: 700px;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 1195px;
    margin: 0 auto;
    img{
        border-radius: 100%;
        height: 90px;
        width: 90px;
    }
}

#anmeldelser-content{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    article{
        display: inline-block;
        min-width: 320px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px auto;
        border:  1px solid rgb(148, 148, 148);
        h3{
            margin: 0;
            padding: 0;
        }
    }
}
/*Lignende produkter område*/
#lingnende-produkter{
    text-align: start;
    h3{
        display: inline-block;
    }
    #sflp{
        display: inline-block;
        text-decoration: none;
        padding-left: 630px;
    }
}
#flex-container2{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    img{
        width: 373px;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    h3{
        text-align: start;
        margin: 0;
        padding: 0;
    }
}
.flex-article2{
position: relative;
    .produkt-pris{
        position: absolute;
        right: 10px;
        bottom: 10%;
    }
    .fa-heart{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        background-color: rgba(206, 205, 205, 0.5);
        border-radius: 100%;
        color: white;
        &:hover{
            background-color: rgba(251, 56, 56, 0.5);
        }
    }
}
#forsettåhandle{
    text-align: start;

}
/*Checkout område*/
@media only screen and (max-width: 500px){ 
    #checkout.main{
        display: flex;
        flex-direction: column;
    }
    #forsettåhandle{
        position: absolute;
        right: 300px;
        top: 140px;
    }
    h4{
        font-size: large;
        margin: 20px 0 0 40px;
    }
    #checkout-1{
        margin: 20px 10px;
        border: 1px solid $grey;
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 5px;
        h3{
            margin-left: 20px;
            padding: 10px;
            text-transform: uppercase;
        }
        p{
            margin: 0 0 0 40px;
        }
        img{
            margin-left: 20px;
            max-width: 250px;
            height: 250px;
            text-align: center;
        }
        .antall{
            max-width: 40px;
            height: 40px;
            margin-top: 10px;
        }
        label{
            margin: 0 0 10px 40px;
        }
        #størrelse2{
            height: 40px;
            margin-top: 10px;
        }
        i{
            font-size: medium;
            margin: 40px 0 40px 5px;
        }
    }
    #checkout-2{
        margin: 20px 10px;
        border: 1px solid $grey;
        padding: 20px;
        h3{
            text-align: start;
            margin: 20px 40px 10px 40px;
            text-transform: uppercase;
        }
        p{
            text-align: start;
            margin: 20px 0 10px 0;
            font-weight: 800;
        }
        form{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 300px;
            button{
                margin: 20px 0;
                height: 40px;
                background-color: rgb(53, 53, 53);
                color: white;
            }
        }
        label{
            display: flex;
            flex-direction: column;
            text-align: start;
            font-weight: 600;
            input{
                height: 35px;
            }
        }

    }
    #checkout-3{
        margin: 20px 10px;
        border: 1px solid $grey;
        text-align: start;
        padding: 20px;
        h3{
            margin-left: 40px;
            text-transform: uppercase;
        }
        #levvalg{
            margin: 0 0 0 40px;
            font-weight: 800;
        }
        form{
            border: 1px solid black;
            text-align: start;
            width: 300px;
            margin: 10px auto;
            border-radius: 10px;
            padding: 10px;
            .dager{
                color: rgba(128, 128, 128, 0.625);
                text-align: start;
            }
            label{
                font-weight: 600;
                width: 300px;
                padding: 0 10px;
            }
        }
    }
    #checkout-4{
        margin: 20px 10px;
        border: 1px solid $grey;
        text-align: start;
        padding: 20px;
        h3{
            margin-left: 35px;
            text-transform: uppercase;
        }
        p{
            text-align: center;
            width: 300px;
            margin-left: 35px;
        }
        .middle{
            text-align: center;
        }
        #price{
            font-weight: 800;
            font-size: large;
        }
        #jatakk{
            margin-left: 60px;
        }
        #betal{
            text-align: start;
            font-weight: 800;
            margin: 0 0 0 35px;
        }
        button{
            margin-left: 35px;
            width: 300px;
            background-color: rgb(53, 53, 53);
            color: white;
            height: 40px;
        }
        form{
            margin: 0 auto;
            width: 300px;
            label{
                display: flex;
                flex-direction: column;
                text-align: start;
                font-weight: 600;
                input{
                    height: 35px;
                }
            }
        }
    }
}
