*{
    box-sizing: border-box;
    max-width: 1200px;
}
#container{
    display: grid;
    justify-content: center;
    max-width: 1200px;
    gap: 1rem;
    grid-template-areas: "item3 item2 item1"
                          "item5 item4 item4";
}
#item-1{
    position: relative;
    grid-area: item1;
    margin: 0;
    padding: 0;
}
#item-2{
    position: relative;
    grid-area: item2;
    margin: 0;
    padding: 0;
}
#item-3{
    position: relative;
    grid-area: item3;
    margin: 0;
    padding: 0;
}
#item-4{
    position: relative;
    grid-area: item4;
    margin: 0;
    padding: 0;
}
#item-5{
    position: relative;
    grid-area: item5;
    margin: 0;
    padding: 0;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: beige;
}
#container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#Kategorier{
    h2{
        display: grid;
        justify-content: center;
    }
    p{
        display: flex;
        justify-content: center;
    }
}

