@use 'mixins.scss';
@use 'globalheader.scss';
@use 'fonts.scss';
@use 'breadcrumb.scss';
@use 'buttons.scss';
@use 'colors.scss' as *;
@use 'layoutgrid.scss';
@use 'footer.scss';
@use 'layoutflex.scss';
@use 'banner.scss';
*{
    box-sizing: border-box;
    max-width: 1200px;
}
html{
    font-size: calc(1em + 1vw);
    text-align: center;
    margin: 0 auto;
}
h1{font-size: 1.2rem;}
h2{font-size: 1.1rem;}
h3{font-size: 0.9rem;}
h4{font-size: 0.8rem;}
p, a{font-size: 0.7rem;}
i{font-size: 0.7rem;}
label{
    font-size: 0.7rem;
}

