@use 'mixins.scss';
@use 'globalheader.scss';
@use 'fonts.scss';
*{
    box-sizing: border-box;
}
html{
    font-size: calc(1em + 1vw);
}
h1{font-size: 2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
p, a{font-size: 1rem;}